
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minmum-scale=1,maximum-scale=1,user-scalable=no">
    <title>@ViewBag.Title</title>
<link href="/dist/static/css/app.338ce7819d5781a84b84b80119fb9994.css?33bb07f72869bac8631b" rel="stylesheet"></head>
<body>
    @RenderBody()
<script type="text/javascript" src="/dist/static/js/app.33bb07f72869bac8631b.js?33bb07f72869bac8631b"></script></body>
</html>
