.main {
    &-aside {
        -webkit-transition: -webkit-transform 0.1s ease-in-out, width 0.1s ease-in-out;
        -moz-transition: -moz-transform 0.1s ease-in-out, width 0.1s ease-in-out;
        -o-transition: -o-transform 0.1s ease-in-out, width 0.1s ease-in-out;
        transition: transform 0.1s ease-in-out, width 0.1s ease-in-out;
        height: 100%;
        border-right: 1px solid #e6e6e6;
        padding-top: $header-height;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 199;
        background: #fff;
        overflow: hidden;

        > ul {
            height: 100%;
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }
}
