.main {
    &-footer {
        -webkit-transition: -webkit-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
        -moz-transition: -moz-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
        -o-transition: -o-transform 0.3s ease-in-out, margin 0.3s ease-in-out;
        transition: transform 0.3s ease-in-out, margin 0.3s ease-in-out;
        border-top: 1px solid #e6e6e6;
        width: 100%;
        height: 56px;
        line-height: 56px;
        text-align: center;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 197;
        background: #fff;
        color: #8b949e;
        font-size: 14px;
    }
}
