.main {
    &-header {
        box-shadow: 2px 0 6px rgba(0,21,41,.35);
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 200;

        .logo, .navbar {
            display: block;
            @extend .header-height;
        }

        .logo {
            float: left;
            @extend .header-font;
        }

        .navbar {
            overflow: auto;

            .aside-toggle {
                display: block;
                float: left;
                font-size: 20px;
                font-weight: 400;
                color: #fff;
                cursor: pointer;
                @extend .header-height;
            }

            .navbar-menu {
                overflow: auto;
                text-align: right;

                .navbar-nav {
                    li {
                        float: right;
                        list-style-type: none;
                        padding: 0 19px;
                        cursor: pointer;
                        @extend .header-height;

                        i {
                            color: #fff;
                            font-size: 14px;
                            font-weight: 400;
                        }

                        &:hover {
                            background-color: rgba(0,0,0,.1);
                        }
                    }

                    &:after {
                        @extend .clear;
                    }
                }

                &:after {
                    @extend .clear;
                }
            }

            &:after {
                @extend .clear;
            }
        }

        .mobile-logo {
            display: none;
            text-align: center;
            @extend .header-height;

            i {
                font-size: 20px;
                font-weight: 400;
                color: #fff;
                cursor: pointer;
                padding: 0 10px;
                @extend .header-height;

                &:hover {
                    background-color: rgba(0,0,0,.1);
                }
            }

            .aside-toggle {
                position: absolute;
                left: 0;
                top: 0;
            }

            .logo-mo {
                @extend .header-font;
                padding: 0 20px;
            }

            .navbar-mo {
                position: absolute;
                right: 0;
                top: 0;
            }
        }

        &:after {
            @extend .clear;
        }
    }
}
