.wrapper {
    height: auto;
    max-width: 100%;
    min-height: 100%;
    position: relative;
    overflow: hidden;

    .page-body {
        padding: 0 15px;

        .page-header {
            border-bottom: 1px solid #e6e6e6;
            padding: 15px 0;

            .page-title {
                font-size: 18px;
                margin: 0;
                margin-bottom: 15px;
                color: #585a5f;
            }
        }
    }

    &:after {
        @extend .clear;
    }
}


.disktop-content-toggle {
    .main-container, .main-footer {
        margin-left: 72px;
    }
}

.phone-aside-show {
    .main-aside {
        -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
        -o-transform: translate(0, 0);
        transform: translate(0, 0);
    }

    .main-container, .main-footer {
        margin-left: $aside-width;
    }

    .main-container {
        width: 100%;

        .container {
            width: 100%;
        }
    }
}
