
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minmum-scale=1,maximum-scale=1,user-scalable=no">
    <title>@ViewBag.Title</title>
<link href="/dist/static/css/app.0481609430a5f12df5c397ab63b82c3f.css?f10153a2296182b1d61b" rel="stylesheet"></head>
<body>
    @RenderBody()
<script type="text/javascript" src="/dist/static/js/app.f10153a2296182b1d61b.js?f10153a2296182b1d61b"></script></body>
</html>
