
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minmum-scale=1,maximum-scale=1,user-scalable=no">
    <title>@ViewBag.Title</title>
<link href="/dist/static/css/app.140ddf6c5f1117b4f38eefca29166ff5.css?fb04c293f65f109bc968" rel="stylesheet"></head>
<body>
    @RenderBody()
<script type="text/javascript" src="/dist/static/js/app.fb04c293f65f109bc968.js?fb04c293f65f109bc968"></script></body>
</html>
