
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 移动设备 viewport -->
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="author" content="a-dou.com">
    <!-- Chrome浏览器添加桌面快捷方式（安卓） -->
    <link rel="icon" type="image/png" href="http://cdn.admui.com/demo/pjax/2.0.0/images/favicon.png">
    <meta name="mobile-web-app-capable" content="yes">
    <!-- Safari浏览器添加到主屏幕（IOS） -->
    <link rel="icon" sizes="192x192" href="http://cdn.admui.com/demo/pjax/2.0.0/images/apple-touch-icon.png">
    <!-- Win8标题栏及ICON图标 -->
    <link rel="apple-touch-icon-precomposed" href="http://cdn.admui.com/demo/pjax/2.0.0/images/apple-touch-icon.png">
    <meta name="msapplication-TileImage" content="http://cdn.admui.com/demo/pjax/2.0.0/images/app-icon72x72@2x.png">
    <meta name="msapplication-TileColor" content="#62a8ea">
    <title>@ViewBag.Title</title>
<<<<<<< HEAD
<link href="/dist/static/css/app.016523a64c0cd6f204a3404066028ecb.css?7ef28484cbeb4c838a35" rel="stylesheet"></head>
<body class="sidebar-mini wysihtml5-supported">
    @RenderBody()
<script type="text/javascript" src="/dist/static/js/app.7ef28484cbeb4c838a35.js?7ef28484cbeb4c838a35"></script></body>
=======
<link href="/dist/static/css/app.016523a64c0cd6f204a3404066028ecb.css?a9e12561ed92b5c0f39c" rel="stylesheet"></head>
<body class="sidebar-mini wysihtml5-supported">
    @RenderBody()
<script type="text/javascript" src="/dist/static/js/app.a9e12561ed92b5c0f39c.js?a9e12561ed92b5c0f39c"></script></body>
>>>>>>> bc2be0a2abf9834d25c40f1669b66606fbdf9256
</html>
