
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minmum-scale=1,maximum-scale=1,user-scalable=no">
    <title>@ViewBag.Title</title>
<link href="/dist/static/css/app.f24ea64286e2826f9d47161e02fe9adf.css?ef741608ff2cf3bdf5b9" rel="stylesheet"></head>
<body>
    @RenderBody()
<script type="text/javascript" src="/dist/static/js/app.ef741608ff2cf3bdf5b9.js?ef741608ff2cf3bdf5b9"></script></body>
</html>
