
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Adou权限管理系统</title>
</head>
<body>
    @RenderBody()
<script type="text/javascript" src="~/Areas/AdouManage/dist/js/main.ae8cea3dda1868ef8350.js"></script></body>
</html>
