
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minmum-scale=1,maximum-scale=1,user-scalable=no">
    <title>@ViewBag.Title</title>
<link href="/dist/static/css/app.a7aef10a1027245011e03d9eaeb737ae.css?c6e1ff97d7439ee0ce58" rel="stylesheet"></head>
<body>
    @RenderBody()
<script type="text/javascript" src="/dist/static/js/app.c6e1ff97d7439ee0ce58.js?c6e1ff97d7439ee0ce58"></script></body>
</html>
