
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>@ViewBag.Title</title>
<link href="/Areas/AdouManage/dist/main.e2f2eec3dd4099fafffb.css?e2f2eec3dd4099fafffb" rel="stylesheet"></head>
<body>
    @RenderBody()
<script type="text/javascript" src="/Areas/AdouManage/dist/main.e2f2eec3dd4099fafffb.js?e2f2eec3dd4099fafffb"></script></body>
</html>
